<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ movie.title }} Locations</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></head>
    <link rel="stylesheet" href="../static/detail.css"></head>
    <script   src="https://code.jquery.com/jquery-1.9.1.min.js"   integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ="   crossorigin="anonymous"></script>
    <script type="text/javascript">
        /*
         * Convert Django response var to JS object
         */
         var movieInfo = {{movie_info|safe}};
     </script>
     <nav class="navbar navbar-transparent">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="javascript:history.back()" style="color: gold;">SF Movie Locations</a>
        </div>
        </div>
        </nav>



     <body>
        <div class="container">
          <div class="page-header">
            <h1 class="inliner" id="title"></h1>
            <h4 class="inliner" id="release-year"></h4>
            <a id="imdb-link">IMDb</a>
        </div>
    </div>

    <div class="container" id = "movie-info">
        <div class="col-md-12">
            <h5 class="inliner" >Plot: </h5><p class="inliner" id="plot"></p><br/>
        </div>
        <div class="col-md-6">
            <h5 class="inliner" >Starring: </h5> <p class="inliner" id="actors"></p><br/>
            <h5 class="inliner" >Directed by: </h5> <p class="inliner" id="director"></p><br/>
        </div>
        <div class="col-md-6">
            <h5 class="inliner" >Genre: </h5> <p class="inliner" id="genre"></p><br/>
            <h5 class="inliner" >Language: </h5> <p class="inliner" id="language"></p><br/>
        </div>
    </div>
    
    <div class="container">
        <div class="col-md-8">
        <!-- 
        If movie has a valid title, show details.
        Else inform the user
    -->
    {% if movie.title %}
    <h5> Locations </h5>
    <!-- Some movies do not have specific locations  -->
    {% if locations %}
    <ul>
        <!-- Loop through locations -->
        {% for location in locations %}
        <!-- Handling the case of only a single location in DB -->
        {% if location.locations %}
        <!-- Adding fun facts from DB -->
        {% if location.fun_facts %}
        <li>{{ location.locations }} - {{ location.fun_facts }}</li>
        {% else %}
        <li>{{ location.locations }}</li>
        {% endif %}
        {% else %}
        <p>Sorry, we dont have a specific address for this movie.</p>
        {% endif %}

        {% endfor %}
        {% else %}
        <p>Sorry, we dont have a specific address for this movie.</p>
        {% endif %}
    </ul>
    {% else %}
    <h5>Sorry, we dont have this movie listed on our database!</h5>
    {% endif %}

</div>
</div>
<!-- Static Map listings markers, for now. -->
<div class="container" id = "maps">
    <img style="max-width: 100%" src="{{ maps }}" alt="Locations on the map">
</div>
<!-- <div class="container" id = "next-steps">
    <p>
    The next steps planned for this product are 
    <ul>
    <li>Moving from Static to Dynamic Maps</li>
    <li>Streetview link to address</li>
    <li>Leveraging Yelp API for linking commercial businesses</li>
    <li>UI Improvements</li>
    </ul>
    </p>
</div> -->

</body>
<script type="text/javascript">
/*
 * If valid response from OMDb API, show movie details.
 */
if(movieInfo.Response!="False") {
    document.getElementById("imdb-link").href = "https://www.imdb.com/title/" + movieInfo.imdbID;
    document.getElementById("title").innerHTML = movieInfo.Title;
    document.getElementById("release-year").innerHTML = movieInfo.Year;
    document.getElementById("actors").innerHTML = movieInfo.Actors;
    document.getElementById("director").innerHTML = movieInfo.Director;
    document.getElementById("genre").innerHTML = movieInfo.Genre;
    document.getElementById("language").innerHTML = movieInfo.Language;
    document.getElementById("plot").innerHTML = movieInfo.Plot;
}
else {
    $("#movie-info").addClass("hide");
    $("#imdb-link").addClass("hide");
    document.getElementById("title").innerHTML = movieInfo.Error;
}
</script>
</html>
