<html>
<head>
	<title> San Francisco Movie Locations</title>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
.col-centered{
    float: none;
    margin: 0 auto;
}
.float-right{
    float: right;
    margin: 0 auto;
}
</style>
</head>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript"> 
   var movieNames = [];
</script>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Movie Locations in San Francisco</h1>
		</div>
	</div>


	<div class="container"> 
	<br/>
	<br/>
	<p>This is a website listing filming locations of movies shot in San Francisco, right from the 1920's!</p>
	</div>
	
	<form id="movie-form" action = "/location_list" >
		<div class="form-group col-md-9 col-centered">
			<div class="form-group col-md-8">
				<input name="movie_name" class="form-control" id="movie-name" placeholder="Movie Name">
			</div>
			<div class="form-group col-md-1">
				<button type="submit" onclick="submitName();" class="btn btn-default float-right">Search <span class="glyphicon glyphicon-search"></span></button>
			</div>
			
		</div>
	</form>

	<div class="container" id = "movie-list">
		<ul>
			{% if movie_list %}
			<ul>
				{% for movie in movie_list %}
				<!-- <li><a href="/location_list?id={{movie.id}}/">{{ movie.title }}</a> -->
				<script type="text/javascript">
					movieNames.push({
					    key:   "{{movie.id|safe}}",
					    value: "{{movie.title|safe}}"
					});
				</script></li>
				{% endfor %}
			</ul>
			{% else %}
			<p>No movie shot here.</p>
			{% endif %}
		</ul>
	</div>
</body>
<footer>
<br/>
	Data Provided By - San Francisco Film Commission
	<br/>
	Website designed and developed by Rushab Indi.
</footer>
<script type="text/javascript">
	$( function() {
		$( "#movie-name" ).autocomplete({
			source: movieNames
		});
	} );
	function submitName() {
	document.getElementById("movie-form").submit();
	}
</script>
</html>
