* {
	margin: 0;
}

html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 30px; /* .push must be the same height as .footer */
}

.col-centered{
	float: none;
	margin: 0 auto;
}
.float-right{
	float: right;
	margin: 0 auto;
}
body {
	background: url(../static/bg1.jpg)  no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}